.my-card {
  width: 100%;
  max-width: 700px;
  padding: 4px;
}

.loginBox {
  max-width: 400px;
  margin: 16px;
}

.centralDiv {
  margin-top: 8px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}